/* reset */
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
button {
    border: 0;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

/* class */
.container {
    max-width: 40em;
    margin: 0 auto;
}
.main__mem-content {
    border-top: 1px solid #000;
    text-align: center;
    color: blue;
}
.main__mem-error-img {
    width: 80%;
    height: 100%;
}
.main__cross {
    width: 2em;
    height: 2em;
    transform: rotate(45deg);
    display: none;
    transition: 0.5s;
}
.main__mem-title span {
    font-size: 1.5em;
}
.main__mem-error {
    display: block;
    height: 0em;
    transition: 0.5s;
}
.main__mem-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__mem-content:hover .main__mem-error, 
.input-check:checked ~ .main__mem-error{
    height: 20em;
    margin-bottom: 1.5em;
}
.input-check:checked ~ .main__mem-title .main__cross{
    transform: rotate(0deg);
}
.input-check:checked ~ .main__mem-title{
    color: #000;
}
.container:hover .main__cross {
    display: block;
}
.container:hover .main__mem-title {
    color: #000;
}
.main__mem-content:hover .main__cross {
    transform: rotate(0deg);
}


